In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [ ]:
try:
  header={}
  url='https://en.wikipedia.org/wiki/List_of_largest_companies_in_India'

  source=requests.get(url)
  print(source.status_code)
except:
  print('error in the code')

200

In [ ]:
soup=BeautifulSoup(source.content,'html')

a=soup.find('tbody')

tr_tags=a.find_all('tr')

In [ ]:
col_titles=tr_tags[0].find_all('th')
col_names=[]
for col in col_titles:
  col_names.append(col.text.strip())
#print(col_names)

df=pd.DataFrame(columns=col_names)
df
len(df)

0

In [ ]:
for tr in tr_tags[1:]:
  row_data=[]
  for td in tr.find_all('td'):
    row_data.append(td.text.strip())
  df.loc[len(df)]=row_data
df

,Rank,Forbes 2000 rank,Name,Headquarters,Revenue(billions US$),Profit(billions US$),Assets(billions US$),Value(billions US$),Industry
0,1,49,Reliance Industries Limited,Mumbai,108.8,8.4,210.5,233.1,Conglomerate
1,2,55,State Bank of India,Mumbai,71.8,8.1,807.4,87.6,Banking
2,3,65,HDFC Bank,Mumbai,49.3,7.7,483.2,133.6,Banking
3,4,70,Life Insurance Corporation,New Delhi,98.0,4.9,561.4,73.6,Insurance
4,5,142,ICICI Bank,Mumbai,28.5,5.3,283.5,95.3,Banking
...,...,...,...,...,...,...,...,...,...
208,65,1895,Dr. Reddy's Laboratories,Hyderabad,3.4,0.7,4.6,11.6,Pharmaceuticals
209,66,1908,Varun Beverages,Gurgaon,2.0,0.3,1.8,23.6,Beverages
210,67,1949,CIFCL,Chennai,2.3,0.4,18.8,13.0,Financials
211,68,1957,NMDC,Hyderabad,2.5,0.8,3.9,9.7,Mining
212,69,1980,ABB India,Bangalore,1.3,0.2,1.3,21.3,Capital goods

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 213 entries, 0 to 212
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Rank                   213 non-null    object
 1   Forbes 2000 rank       213 non-null    object
 2   Name                   213 non-null    object
 3   Headquarters           213 non-null    object
 4   Revenue(billions US$)  213 non-null    object
 5   Profit(billions US$)   213 non-null    object
 6   Assets(billions US$)   213 non-null    object
 7   Value(billions US$)    213 non-null    object
 8   Industry               213 non-null    object
dtypes: object(9)
memory usage: 16.6+ KB

In [ ]:
df.to_excel(r'C:\Users\VAMSI\Videos\Downloads\companies.xlsx',index=False)